/* Navigation Bar */
.navbar-custom {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  font-family: 'Open sans', sans-serif;
  font-size: 1.2em;
  margin-top: 10px;
  height: 80px;
}

.logo{
  margin: 10px;
  width: 150px;
  height: 80px;
}

.sticky .logo{
  margin-top: 20px;
}

.navbar-custom h2 a {
  color: white; /* Add this line */
  text-decoration: none; /* Add this line */
  font-family: 'Open sans', sans-serif;
  font-size: 1.2em;
}

h2 {
  font-family: 'Open sans', sans-serif;
  font-size: 1.2em;
}

.navbar-custom h2 a:hover {
  color: lightpink; /* Add this line */
  text-decoration: none; /* Add this line */
}

.sticky h2 a:hover {
  color: #764C77; /* Add this line */
  text-decoration: none; /* Add this line */
}

.sticky {
  background-color: white;
  position: sticky;
  top: 0;
  filter: drop-shadow(0 0 0.75rem rgba(139, 0, 139, 0.29));
  /*z-index: 1;*/
}

.sticky h2 a{
  color: black;
}

/* Navigation Links */
.navbar-custom .nav-links {
  display: flex;
  list-style: none;
  margin-right: 20px;

}

.navbar-custom .nav-links a {
  color: white; /* Add this line */
  text-decoration: none; /* Add this line */
  margin: 0 10px;
}

.sticky .nav-links a {
  color: black; /* Add this line */
  text-decoration: none; /* Add this line */
  margin: 0 10px;
}


.navbar-custom .nav-links a:hover{
  color: lightpink;
}

.sticky .nav-links a:hover{
  color: #764C77 !important;
}

.navbar-custom .nav-links li {
  margin: 0 2px;
}

/*secondary Navbar*/

.secondary .nav-links a {
  color: black; /* Add this line */
  text-decoration: none; /* Add this line */
  margin: 0 10px;
}

.secondary .nav-links a:hover {
  color: #764C77 ; /* Add this line */
  text-decoration: none; /* Add this line */
  margin: 0 10px;
}

.secondary h2 a{
  color: black;
}

.secondary h2 a:hover{
  color: #764C77 ;
}


.secondary {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  font-family: 'Open sans', sans-serif;
  font-size: 1.2em;
  filter: drop-shadow(0 0 0.75rem rgba(139, 0, 139, 0.29));
  margin-top: 1px;
  height: 80px;
}

.secondary.sticky {
  background-color: white;
  position: sticky;
  top: 0;
  filter: drop-shadow(0 0 0.75rem rgba(139, 0, 139, 0.29));
  /*z-index: 1;*/
}

button{
  background-color: transparent;
  color: white;
  border: none;
  font-family: 'Open sans', sans-serif;
  font-size: 0.82em;
  padding: 0px;
  margin: 0px;
}

button:hover{
  color: lightpink;
}

.title{

}

/* Responsive Navigation */
@media (max-width: 768px) {
  .navbar-custom .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar-custom .nav-links li {
    margin: 10px 0;
  }
}

footer{
  background-color: #9a45c5;
  height: 100%;
  color: white;
}

footer a{
  color: white;
}
