/* Navigation Bar */
.navbar {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  font-family: 'Open sans', sans-serif;
  font-size: 1.2em;
  margin-top: -10px;
}

.navbar h2 a {
  color: white; /* Add this line */
  text-decoration: none; /* Add this line */
}

.navbar h2 a:hover {
  color: lightpink; /* Add this line */
  text-decoration: none; /* Add this line */
}

.sticky h2 a:hover {
  color: #764C77; /* Add this line */
  text-decoration: none; /* Add this line */
}

.sticky {
  background-color: white;
  position: sticky;
  top: 0;
  filter: drop-shadow(0 0 0.75rem rgba(139, 0, 139, 0.29));
  /*z-index: 1;*/
}

.sticky h2 a{
  color: black;
}

/* Navigation Links */
.navbar .nav-links {
  display: flex;
  list-style: none;
  margin-right: 20px;

}

.navbar .nav-links a {
  color: white; /* Add this line */
  text-decoration: none; /* Add this line */
  margin: 0 10px;
}

.sticky .nav-links a {
  color: black; /* Add this line */
  text-decoration: none; /* Add this line */
  margin: 0 10px;
}


.navbar .nav-links a:hover{
  color: lightpink;
}

.sticky .nav-links a:hover{
  color: #764C77 !important;
}

.navbar .nav-links li {
  margin: 0 2px;
}

/*secondary Navbar*/

.secondary{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  font-family: 'Open sans', sans-serif;
  font-size: 1.2em;
  filter: drop-shadow(0 0 0.75rem rgba(139, 0, 139, 0.29));
}

.secondary .nav-links a {
  color: black; /* Add this line */
  text-decoration: none; /* Add this line */
  margin: 0 10px;
}

.secondary .nav-links a:hover {
  color: #764C77 ; /* Add this line */
  text-decoration: none; /* Add this line */
  margin: 0 10px;
}

.secondary h2 a{
  color: black;
}

.secondary h2 a:hover{
  color: #764C77 ;
}


/* Responsive Navigation */
@media (max-width: 768px) {
  .navbar .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar .nav-links li {
    margin: 10px 0;
  }
}

