<div class="navbar" [ngClass]="{ 'sticky': isSticky, 'secondary' : secondary }">
  <h2><a routerLink="/">{{title}}</a></h2>
  <div class="nav-links">
    <li *ngIf="userRole == 'ROLE_ADMINOFALLPLANTSANDFLOWERS'"><a routerLink="/admin">Admin</a></li>
    <li><a routerLink="/products">Produse</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li *ngIf="isAuthenticated == false"><a routerLink="/login">Contul meu</a></li>
    <li *ngIf="isAuthenticated == true"><a routerLink="/profile">Profil</a></li>

  </div>
</div>

<router-outlet></router-outlet>

