<div class="navbar-custom" [ngClass]="{ 'sticky': isSticky, 'secondary' : secondary }">
    <div *ngIf="isSticky || secondary; else notSticky;">
    <h2><a routerLink="/"><img class="logo" src="assets/images/tf logo2.png"></a></h2>
    </div>
  <ng-template #notSticky>
    <h2><a routerLink="/"><img class="logo" src="assets/images/tf logo2w.png"></a></h2>
  </ng-template>




  <div class="nav-links">
    <li *ngIf="userRole == 'ROLE_ADMINOFALLPLANTSANDFLOWERS'"><a routerLink="/admin">Admin</a></li>
    <li><a routerLink="/products">Produse</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li *ngIf="isAuthenticated == false"><a routerLink="/login">Contul meu</a></li>
    <li *ngIf="isAuthenticated == true"><a routerLink="/profile">Profil</a></li>

  </div>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="grid">
    <div class="float-start">
  <h2><a routerLink="/"><img class="logo" src="assets/images/tf logo2w.png"></a></h2>
    </div>
    <div class="col-2">
  <a class="text-decoration-none ml-4" href="tel:0745412305">0745412305</a>
    </div>
  </div>
</footer>
