<div class="container w-50 mt-5">

<div class="card border-0 shadow">
<div class="m-4 position-absolute">
    <img class="product-img rounded" [src]="'http://localhost:8080/api/products/images/' + product?.id" alt="{{product?.title}}">
</div>
  <div class="row-cols-2 align-self-end mt-3 mb-3">
    <h3>{{ product?.title }}</h3>
    <p>{{ product?.price | currency: 'RON' }}</p>
    <p>{{ product?.description }}</p>
    <button class="add-to-cart-btn">Add to Cart</button>
  </div>
</div>
</div>

<div class="container mt-5 w-75">
<h3 class="text-center">Vezi si </h3>
<app-product-list></app-product-list>
</div>
