.product-card-container-custom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
  margin-right: -10px;
}

.product-card-custom {
  width: 30%;
  margin-bottom: 20px;

}

.product-card-custom:hover{
  filter: drop-shadow(0 0 0.55rem rgba(139, 0, 139, 0.35));
}

.product-card-custom img {
  width: 80%;
  margin-bottom: 1px;
  z-index: -1;
  position: relative;
  height: 50%;
  border-radius: 10px;

}

.product-info-custom {

  padding: 10px;
  background-color: #764C77;
  color: white;
  border-radius: 15px;
  z-index: -2;
  position: relative;
  margin-top: -25px;
  padding: 5px;
  width: 80%;
  height: 25%;
  text-align: center;

}

h3{
  font-family: 'Open sans', sans-serif;
  font-size: 1.2em;
}

h2{
  font-family: 'Open sans', sans-serif;
  font-size: 1.5em;
}

a{
  text-decoration: none;
}

