.product-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
  margin-right: -10px;
}

.product-card {
  width: 30%;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 0.55rem rgba(139, 0, 139, 0.29));
}

.product-card img {
  width: 80%;
  margin-bottom: -10px;
  z-index: 1;
  position: relative;
  height: 50%;
  border-radius: 10px;

}

.product-info {

  padding: 10px;
  background-color: #764C77;
  color: white;
  border-radius: 15px;
  z-index: -1;
  position: relative;
  margin-top: -10px;
  width: 75%;
  height: 20%;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 1em;
}

a{
  text-decoration: none;
}

