<div class="card-continaer w-100 mt-5 mb-5">
  <div class="card border-0">
    <h2 class="text-center"> Hai pe la noi </h2>
    <div class="grid">
      <div class="float-start m-3">
        <iframe class="rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d178.09020213311726!2d26.124950552422494!3d44.42406953338413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff4e2b76aad3%3A0xb2898a66145a2e6c!2sTOATEFLORILE!5e0!3m2!1sen!2sro!4v1678627402025!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="float-end m-3">
        <p> Telefon: <a href="tel:0745412305">0745412305</a></p>
        <p> Email: <a href="mailto:adri.zibi@gmail.com">adri.zibi@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>
