<header>
  <div class="header-image-custom" style="background-image: url(assets/images/header.png);">
    <div class="overlay-custom"></div>
    <div class="header-text-custom">
      <h1>Descoperă frumusețea florilor cu noi.</h1>
      <h2>Livrăm cele mai proaspete și frumoase flori pentru orice ocazie. Comandă acum și bucură-te de livrare rapidă
        și servicii excepționale.</h2>
    </div>
  </div>
</header>

<div class="container-custom">
<app-product-list></app-product-list>
</div>

<div class="container-custom">
<app-services></app-services>
</div>

<div class="container-custom">
  <app-reviews></app-reviews>
</div>

<div class="container-custom">
  <app-contact></app-contact>
</div>
