header {
  height: 45vh; /* Cover half of the screen */
  width: 100%;
  position: relative; /* Add this line */
  margin-top: -110px;

}

.header-image {
  background-size: cover; /* Scale the image to cover the entire element */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100%; /* Cover the entire header element */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Add a purple tint overlay */
  position: absolute; /* Add this line */
  top: 0; /* Add this line */
  left: 0; /* Add this line */
  width: 100%; /* Add this line */
  height: 100%; /* Add this line */
}

.header-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Open sans', sans-serif;

}
